---

---

<header
  class="w-full h-auto flex flex-row justify-evenly items-center px-2 py-4 animate-blurred-fade-in"
>
  <div class="animation">
    <span class="font-semibold text-center text-xl text-[#ab1644]"
      >BR7FORLIFE</span
    >
  </div>
  <nav>
    <ul class="flex flex-row gap-6">
      <li class="animation"><a href="/about">About</a></li>
      <li class="animation"><a href="/projects">Projects</a></li>
      <li class="animation"><a href="/skills">Skills</a></li>
      <li class="animation"><a href="/education">Education</a></li>
      <li class="animation"><a href="/contact">Contact</a></li>
      <li class="animation"><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <div class="inline-flex flex-row justify-center items-center gap-4">
    <a href="https://github.com/BR7FORLIFE" target="_blank"
      ><img
        src="assets/github.svg"
        alt="github icon"
        class="size-8 animation"
      /></a
    >
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=diazpachecobrayan@gmail.com"
      target="_blank"
    >
      <img
        src="assets/gmail-logo.png"
        alt="gmail icon"
        class="size-8 animation"
      />
    </a>

    <a href="https://www.linkedin.com/in/brayan-diaz-pacheco" target="_blank">
      <img src="assets/linkedin.png" alt="linkedin icon" class="size-8 animation"/>
    </a>
  </div>
</header>
