---
import { structureExperience } from "@Utils/constants/contants";
---

<section
  id="experience"
  class="text-white w-screen h-screen inline-flex flex-col justify-center items-center scroll-mt-16"
>
  <h2 class="text-3xl font-semibold mb-12">Experience</h2>
  <div class="flex flex-col">
    {
      structureExperience.map(({ title, dateOfWork, description }) => (
        <article class="max-w-[800px] relative border-l-4 border-[#ab1644] ml-6 mb-10">
          <span class="absolute -left-2.5 top-2 flex size-4 items-center justify-center rounded-full bg-[#ab1644] ring-1 ring-[#ab1644]" />

          <div class="ml-6 flex flex-col gap-2">
            <h2 class="text-lg font-bold text-[#ab1644]">{title}</h2>
            <p class="text-sm text-gray-400">{dateOfWork}</p>

            <ul class="list-disc pl-4 text-gray-300 flex flex-col gap-2">
              {description.map(({ content }) => (
                <li>{content}</li>
              ))}
            </ul>
          </div>
        </article>
      ))
    }
  </div>
</section>

<style>
  div {
    font-family: "League Spartan Variable", sans-serif;
  }
</style>
