---
import { socialMediaAnchors } from "@Utils/constants/contants";
import Navbar from "../components/header/NavBar";
---

<header class="fixed top-0 left-0 w-full z-50 bg-black/80 backdrop-blur-lg">
  <section
    class="max-w-screen h-16 flex flex-row justify-evenly items-center px-2 py-4 animate-blurred-fade-in"
  >
    <div class="animation">
      <span class="font-semibold text-center text-xl text-[#ab1644]"
        >BR7FORLIFE</span
      >
    </div>
    <nav>
      <ul class="flex flex-row gap-6">
        <Navbar client:load/>
      </ul>
    </nav>
    <div class="inline-flex flex-row justify-center items-center gap-4">
      {
        socialMediaAnchors.map(({ href, images }) => {
          return (
            <a href={href} target="_blank">
              <img src={images.src} alt={images.alt} class={images.class} />
            </a>
          );
        })
      }
    </div>
  </section>
</header>
