<header class="w-full flex items-center justify-between px-10 mt-8">
    <div class="text-4xl text-black font-serif">
        <p>BR7FORLIFE</p>
    </div>

    <nav class="flex-1 text-center">
        <ul class="inline-flex space-x-6 text-lg text-black !list-none m-0 p-0">
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">About Me</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <!-- Derecha: Algo más -->
    <div class="text-black">
        <img src="lightMode.png" alt="imagen para el modo claro y el modo oscuro" />
    </div>
</header>
