<section class="flex flex-row justify-around align-middle">
    <div>
        <ul class="border-r-3">
            <li><a href="#"><span>.</span>Home</a></li>
            <li><a href="#"><span>.</span>Projects</a></li>
            <li><a href="#"><span>.</span>About Me</a></li>
            <li><a href="#"><span>.</span>Contact</a></li>
        </ul>
    </div>

    <div></div>
</section>
