---
import ProjectSearch from "@Components/projects/ProjectsSearch";
---

<section
  id="Projects"
  class="w-screen h-screen flex justify-center items-center"
>
  <ProjectSearch client:load />
</section>

<style>
  section {
    font-family: "League Spartan Variable", sans-serif;
  }
</style>
