---
import "@fontsource-variable/nunito-sans";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>BR7FORLIFE - PORTFOLIO</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root{
		background-color: #e7e7e7;
	}
</style>
